# Env
.env

# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/

# Airflow
logs/
airflow.db
airflow-webserver.pid
airflow.cfg

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
